html {
    font-size: 75%;
    overflow: hidden;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

body {
    margin: 0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
}

.k-virtual-scrollable-wrap td, .k-grid-content td {
    white-space: nowrap;
    line-height: 13px;
    border-width: 0px 0px 1px 1px;
}


.k-grid tbody tr:hover {
    background: #d2d2d2;
}

/*.k-grid tr td {
    border-width: 0px 1px 0px 1px;
}*/

.k-widget.k-treeview {
    color: #333;
    /*color: rgba(255,255,255,.9);*/
}

.k-filtercell .k-input {
    height: 1em;
}

.k-filtercell > span {
    min-height: 1em;
}

.k-filtercell .k-button {
    display: none;
}

.k-filtercell > .k-operator-hidden {
    padding-right: 0.1em;
}

.k-filter-row th {
    padding: .2em .2em .2em .2em;
}

.k-grid-header th.k-header {
    padding: .3em .3em .3em .3em;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-family: Arial,sans-serif;
    font-weight: 600;
}

.k-toolbar-resizable {
    min-height: initial;
}

.k-toolbar .k-button, .k-toolbar .k-button-group, .k-toolbar .k-separator, .k-toolbar .k-split-button, .k-toolbar .k-textbox, .k-toolbar .k-widget, .k-toolbar label {
    margin: 0.1em;
    /*line-height: 1.2em;*/
}

.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content {
    border-radius: 0px;
}

/*.k-toolbar {
    height: 2em;
}*/

.k-link {
    border-radius: 0px;
}

.k-input {
    height: 1em;
}

.k-grid td {
    padding: 2px;
    text-align: center;
}

/*你要的toolbar中的改变样式 但你不能把说有button都改变，前面至少加个限定.k-toolbar */
.k-toolbar .k-button {
    color: rgb(0, 109, 204);
    border: none;
    font-family: Arial,sans-serif;
    background-color: transparent;
    padding: 0;
}

.k-button-icontext .k-sprite {
    margin: 0;
}


/*#region Grid */
.k-grid-pager {
    background: none;
    text-align: center;
}

    .k-grid-pager > * {
        float: none !important;
    }

.k-webkit .k-pager-numbers + .k-link {
    margin-left: .3em;
}

.k-pager-sizes {
    padding: 0 .3em;
}

.k-grid .k-pager-numbers {
    position: static !important;
    height: 0 !important;
}

.state-gridChecked {
    color: #fff !important;
    background-color: #428bca !important;
}
/*table 的行在没有内容的情况下不至于变得很窄*/
.k-grid-content tbody td:not([style*="display:none"])::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    min-height: 13px;
}

/*@media only screen and (max-width:1024px)*/
.k-ff .k-pager-numbers + .k-link, .k-ie11 .k-pager-numbers + .k-link, .k-safari .k-pager-numbers + .k-link, .k-webkit .k-pager-numbers + .k-link {
    margin-left: 0.3em;
    border-radius: 4px 0 0 4px;
}

/*#endregion */

/*#region treeView */
/*#region extend&Collaps icon */


.k-treeview .k-minus {
    background-image: url('../images/tree_elbow.png');
    background-repeat: no-repeat;
    background-position: -38px 0px;
    height: 20px;
    /*background-position: -33px -225px;*/
}

.k-treeview .k-plus {
    background-image: url('../images/tree_elbow.png');
    background-repeat: no-repeat;
    background-position: -38px -18px;
    height: 20px;
    /*background-position: -33px -208.5px;*/
}

.k-treeview .k-in {
    margin: 0;
    margin-bottom:8px;
    padding: 1px .3333em 0 .25em;
    line-height: 1.3333em;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}
/*#endregion */

/*#region treeView_Line */

.k-treeview .k-top,
.k-treeview .k-mid,
.k-treeview .k-bot {
    background-image: url('../images/treeview-nodes.png');
    background-repeat: no-repeat;
    margin-left: -16px;
    padding-left: 16px;
}

.k-treeview .k-item {
    background-image: url('../images/treeview-line.png');
    background-repeat: no-repeat;
}

.k-treeview .k-last {
    background-image: none;
}


.k-treeview .k-top {
    background-position: -91px 0;
}

.k-treeview .k-bot {
    background-position: -69px -22px;
}

.k-treeview .k-mid {
    background-position: -47px -44px;
}

.k-treeview .k-last .k-top {
    background-position: -25px -66px;
}

/*.k-treeview .k-group .k-last .k-bot {
    background-position: -69px -22px;
}*/

.k-treeview .k-first {
    background-repeat: no-repeat;
    background-position: 0 16px;
}


/*#endregion */
/*#endregion */


/*#region dropdownlist */

.k-dropdown-wrap.k-state-default {
    background-color: inherit;
}

/*#endregion */

/*#region 控件变窄 */


.k-select {
    padding-top: 2px;
}

.k-autocomplete .k-input, .k-dropdown-wrap .k-input, .k-numeric-wrap .k-input, .k-picker-wrap .k-input, .k-selectbox .k-input, .k-textbox > input {
    height: 1.3em;
    line-height: 1.3em;
    padding: .177em 0;
    text-indent: .33em;
    border: 0;
    margin: 0;
}

.k-dropdown-wrap .k-select, .k-numeric-wrap .k-select, .k-picker-wrap .k-select {
    min-height: 1.3em;
    line-height: 1.3em;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    height: 100%;
}

.k-combobox .k-dropdown-wrap:before, .k-numeric-wrap:before, .k-picker-wrap:before {
    content: "\a0";
    display: inline-block;
    width: 0;
    height: 1.3em;
    padding-bottom: .3em;
}

input.k-textbox {
    height: 1.7em;
    text-indent: .33em;
    line-height: 1em;
}

.k-picker-wrap:before {
    height: 1.3em;
}

/*#region toolbar */
.k-toolbar .k-button {
    line-height: none;
}

.k-toolbar .k-overflow-anchor {
    height: 100%;
}

.k-toolbar {
    line-height: initial;
}
/*#endregion */

/*#region numeric */
.k-numerictextbox .k-link {
    display: block;
    height: .86em;
    line-height: .6em;
    vertical-align: middle;
    border-width: 0;
    padding: 0;
}
/*#endregion */

/*#endregion */

/*#region tapscript */
.k-tabstrip > .k-content {
    padding: 2px;
}
/*#endregion */


/*#region calendar */

.k-calendar .k-state-selected .k-alt {
    background-color: #428bca;
}

/*#endregion */

/*#region wide splitter bar */

/*.k-splitter .k-ghost-splitbar-horizontal,*/
.k-splitterForWide .k-splitbar-horizontal {
    top: 0;
    width: 15px;
    border-width: 0 1px;
    background-repeat: repeat-y;
}

/*.k-ghost-splitbar-vertical,*/
.k-splitterForWide .k-splitbar-vertical {
    left: 0;
    height: 15px;
    border-width: 1px 0;
    background-repeat: repeat-x;
}
.k-splitterForWide .k-i-arrow-60-left {
    top: 0;
    width: 21px;
    height: 100%;
}
.k-splitterForWide .k-i-arrow-60-right {
    top: -13px;
    width: 21px;
    height: 60px;
    margin-top: 6px;
    background-color: rgb(188,188,188);
}
/*#endregion */
