@charset "utf-8";

.pagination {
    padding-top: 10px;
}

    .pagination a {
        text-decoration: none;
        border: 1px solid #AAE;
        color: #15B;
    }

    .pagination a, .pagination span {
        display: inline-block;
        padding: 0.1em 0.4em;
        margin-right: 5px;
        margin-bottom: 5px;
        float:left;
        text-align: left;
    }

        .pagination span:hover {
            background: #5a98de;
            color: #fff;
        }

    .pagination .current {
        background: #5a98de;
        color: #fff;
        border: 1px solid #AAE;
        float: left;
        text-align: left;
        display: inline-block;
        line-height: 26px;
        margin: 0 0 6px 6px;
        padding: 0 10px;
    }

        .pagination .current.prev, .pagination .current.next {
            color: #999;
            border-color: #999;
            background: #fff;
            float: left;
            text-align: left;
        }
