@{
    Layout = null;
    string languagename = Donn.EAM.Web.Core.CurrentLoginInfo.Language;
    var themes = new List<string>() { "metro", "bootstrap", "office365", "default" };

    string style = themes[1];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title</title>
    <link href="~/Resource/Scripts/Kendo/Style/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Resource/Scripts/Kendo/Style/kendo.@{@style}.min.css" rel="stylesheet" />
    <script src="~/Resource/Scripts/Base/jquery-1.10.2.min.js"></script>
    <script type='text/javascript' src="~/Resource/Scripts/Kendo/js/kendo.web.min.js"></script>


    <script src="~/Resource/Scripts/Base/eap.js@(Html.GetVersion())"></script>
    @*?r=@System.DateTime.Now.Ticks*@
    <script src="~/Resource/Scripts/Base/eap.ui1.js@(Html.GetVersion())"></script>
    @*?r=@System.DateTime.Now.Ticks*@
    @*<script src="~/Resource/Scripts/Base/eap.kendo1.js@(Html.GetVersion())"></script>*@
    <script src="~/Resource/Scripts/Base/eap.kendo1.js@(Html.GetVersion())"></script>
    @*?r=@System.DateTime.Now.Minute*@
    <script src="~/Resource/Scripts/Base/Applications.js"></script>
</head>

<body id="mainContent">
    <div id="grid">

    </div>

    <div id="log"></div>
</body>
</html>



<script>
    System.CultureInfo.LanguageName = "CHS"
    EAP.UI.documentReady(InitMain);

    function InitMain() {
        var ctrl = new EAP.Controller("ViewScheme");

        kendo.ui.progress($(document.body), true);
        ctrl.ExecuteServerAction("DefaultViewList", {}, function (data) {
            kendo.ui.progress($(document.body), false);
            var cols = [
                {
                    field: 'Id', hidden: true, title: "任务名称"
                },
                {
                    field: 'Name', title: "Name"
                },
                {
                    field: 'Code', title: "Code"
                },
                {
                    command: [{
                        name: 'Edit', click: function (e) {

                            e.preventDefault();
                            var tr = $(e.target).closest("tr");
                            var data = this.dataItem(tr);
                            EditItem(data);
                        }
                    }]
                }

            ];

            var gridoption = {
                height: 600,
                columns: cols,
                resizable: true,
                reorderable: true,
                scrollable: {
                    virtual: false
                },
                pageable: false,
                DataSource: data.Collection,
                dom: $('#grid')
            }

            LoadGrid(gridoption);
        })
    }

    function LoadGrid(gridoption) {
        var grid = gridoption.dom.kendoGrid({
            height: gridoption.height,
            pageable: gridoption.pageable,
            columns: gridoption.columns,
            resizable: true,
            scrollable: {
                virtual: false
            },
            dataSource: gridoption.DataSource

        }).getKendoGrid();
    }

    function EditItem(vm) {


        var ctrl = new EAP.Controller("ViewScheme");

        ctrl.ExecuteServerAction('DefaultViewColumns', vm, function (data) {

            var option = new EAP.UI.EditApplicationOpion();
            option.title = "aaa";

            option.width = '1024px';
            option.gridHeight = '600px';
            option.setOrd = true;
            option.isWindow = true;
            option.editable = true;
            option.postUrl = new System.UrlObj("ViewScheme", "SaveColumns");
            option.columns = [{
                field: 'Header',
                title: System.CultureInfo.GetDisplayText('Name'),
                template: function (value) {
                    if (value) {
                        return System.CultureInfo.GetDisplayText(value.Header);
                    }
                },
                editor: function (container, options) {
                    container.append(System.CultureInfo.GetDisplayText(options.model.Header));
                }
            }, {
                field: 'CustomHeader',
                title: System.CultureInfo.GetDisplayText('CustomShow'),
                template: function (value) {
                    if (value) {
                        return value.CustomHeader || '';
                    }
                }
            }, {
                field: 'Width',
                title: System.CultureInfo.GetDisplayText('Show')
            },
            {
                field: 'IsVisible',
                title: System.CultureInfo.GetDisplayText('Show'),
                template: function (value) {
                    if (value && value.IsVisible) {
                        return '<input type="checkbox" checked="true"/>';
                    }
                    return '<input type="checkbox" />';
                }
            }
            ];

            var customShowApplication = new EAP.UI.EditApplication(option);
            customShowApplication.setData(data);
            customShowApplication.open();

        });


    }

</script>
