@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户组视图设置</title>
    <link rel="stylesheet" type="text/css" href="../../Content/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../Content/themes/icon.css">
    <style type="text/css">
        input, textarea {
            width: 200px;
            border: 1px solid #ccc;
            padding: 2px;
        }
    </style>
    <script type="text/javascript" src="../../Scripts/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.easyui.min.js"></script>
    <script src="~/Resource/Scripts/Base/eap.js?@Html.GetVersion()"></script>

    <script type="text/javascript">
        $(function () {
            group_view_list(Guid.Empty); //初始化组内视图Grid
            group_view_add_list(Guid.Empty);
            initTree();
        });


        function initTree() {
            $('#group_tree').tree({

                url: '/Privilege/GetGroupTree/' + Guid.Empty, lines: true, checkbox: false,
                loadFilter: function (data) {
                    return data.Data;
                },
                onClick: function (node) {
                    if (node.id == Guid.Empty) {
                        return;
                    }
                    $('#hidGroupID').val(node.id);


                    group_view_list(node.id);
                    group_view_add_list(node.id);

                    //var url = '/Privilege/GetGroup/';
                    //var client = new System.Net.HttpClient();

                    //client.post(url, { groupId: node.id }, function (data) {
                    //    $('#hidGroupID').val(data.Group_ID);
                    //    group_view_list(data.Group_ID);
                    //    group_view_add_list(data.Group_ID);
                    //});

                }
            });
        }

        //获取组内视图列表
        function group_view_list(nodeid) {
            var _url = '';
            if (nodeid != '-1') {
                _url = '@Url.Content("~/Commpage/GroupViewList")';
            }
            $('#GroupViewList').datagrid({
                url: _url,
                queryParams: { groupID: nodeid },
                columns: [[
                        { field: 'Id', checkbox: true },
                        {
                            field: 'Name', title: '视图名称', width: 100
                        },
                        {
                            field: 'Code', title: '所属模块', width: 100,
                            formatter: function (value, row, index) {
                                if (row) {
                                    return row.Code;
                                }
                            }
                        },
                        {
                            field: 'isDefault', title: '是否默认', width: 100,
                            formatter: function (value, row, index) {
                                if (row.IsDefault) {
                                    return '<img alt="" src="/Scripts/jquery-easyui-1.3.1/themes/icons/tip.png" />';
                                }
                            }
                        }
                ]],
                //singleSelect: true,
                rownumbers: true,
                pagination: true,
                pageList: [5, 10, 15],
                pageSize: 15,
                autoRowHeight: false,
                toolbar: '#GroupViewToolbar',
                rownumbers: true
            });
        }
        //获取非组内视图列表
        function group_view_add_list(nodeid) {
            var _url = '@Url.Content("~/Commpage/GroupViewAddList")';

            $('#GroupViewAddList').datagrid({
                url: _url,
                queryParams: { groupID: nodeid },
                columns: [[
                        { field: 'Id', checkbox: true },
                        { field: 'Name', title: '视图名称', width: 100 },
                        { field: 'Code', title: '所属模块', width: 100 }
                ]],
                //singleSelect: true,
                rownumbers: true,
                pagination: true,
                pageSize: 15,
                pageList: [5, 10, 15],
                autoRowHeight: false,
                toolbar: '#GroupViewAddToolbar'
            });
        }
        //删除组内视图
        function group_del_view() {
            var rows = $('#GroupViewList').datagrid('getChecked');

            var checkIds = [];
            var checkedNames = []; //选中用户名单列表
            $.each(rows, function (i, item) {
                checkedNames.push(item.Name);
                checkIds.push(item.Id);
            });

            var checked_CNs = checkedNames.join(',');

            if (rows.length > 0) {
                $.messager.confirm('确认', '确认删除组内视图(' + checked_CNs + ')?', function (r) {
                    if (r) {

                        var client = new System.Net.HttpClient();
                        var url = "/Commpage/GroupViewSave";
                        var data = { oper: "DEL", GroupId: $("#hidGroupID").val(), viewids: checkIds };
                        client.post(url, data, function (data) {

                            if (data == true) {
                                $.messager.show({ title: '提示', msg: '删除成功！', timeout: 2000, showType: 'show' });
                                $('#GroupViewList').datagrid('reload');
                                $('#GroupViewAddList').datagrid('reload');
                            } else {
                                $.messager.alert('提示', data);
                            }
                        });
                    }
                });
            } else {
                $.messager.alert('警告', '请选择要删除的组内视图！');
                return false;
            }
        }
        //增加组内视图
        function group_add_view() {
            var rows = $('#GroupViewAddList').datagrid('getChecked');

            var checkIds = [];
            var checkedNames = []; //选中用户名单列表
            $.each(rows, function (i, item) {
                checkedNames.push(item.Name);
                checkIds.push(item.Id);
            });

            var checked_CNs = checkedNames.join(',');

            if (rows.length > 0) {
                $.messager.confirm('确认', '确认增加(' + checked_CNs + ')为组内视图?', function (r) {
                    if (r) {

                        var client = new System.Net.HttpClient();
                        var url = "/Commpage/GroupViewSave";
                        var data = { oper: "ADD", GroupId: $("#hidGroupID").val(), viewids: checkIds };

                        client.post(url, data, function (data) {

                            if (data == true) {
                                $.messager.show({ title: '提示', msg: '增加成功！', timeout: 2000, showType: 'show' });
                                $('#GroupViewList').datagrid('reload');
                                $('#GroupViewAddList').datagrid('reload');
                            } else {
                                $.messager.alert('提示', data);
                            }

                        });
                    }
                });
            } else {
                $.messager.alert('提示', '请选择要增加的视图！');
                return false;
            }
        }
        //设置某组内视图为默认视图
        function group_set_default(isDefault) {
            var rows = $('#GroupViewList').datagrid('getChecked');

            var checkIds = [];
            var checkedNames = []; //选中用户名单列表
            $.each(rows, function (i, item) {
                checkedNames.push(item.Name);
                checkIds.push(item.Id);
            });

            var checked_CNs = checkedNames.join(',');

            if (rows.length > 0) {
                var title = isDefault == false ? '是否取消设置视图(' + checked_CNs + ')为默认视图?' : '是否确认设置视图(' + checked_CNs + ')为默认视图?';
                $.messager.confirm('确认', title, function (r) {
                    if (r) {

                        var client = new System.Net.HttpClient();
                        var url = "/Commpage/GroupDefaultView";
                        var data = { isDefault: isDefault, GroupID: $("#hidGroupID").val(), viewIds: checkIds };

                        client.post(url, data, function (data) {
                            if (data == true) {
                                $.messager.show({ title: '提示', msg: '设置成功！', timeout: 2000, showType: 'show' });
                                $('#GroupViewList').datagrid('reload');
                            } else {
                                $.messager.alert('提示', data);
                            }

                        });

                    }
                });
            } else {
                $.messager.alert('警告', '请选择要设置的组内视图！');
                return false;
            }
        }
    </script>

</head>
<body>
    <div class="easyui-layout" fit=true>
        <div data-options="region:'west',split:true,title:'用户组结构'" style="width:200px;padding:5px;">
            <ul id="group_tree" class="easyui-tree"></ul>

        </div>

        <div data-options="region:'center',border:true,title:'组内视图'" style="padding:0px; overflow:auto;">
            <table id="GroupViewList" data-options="border:false,fit:true,fitColumns:true"></table>
            <div id="GroupViewToolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'"
                   onclick="group_del_view()">删除</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip'"
                   onclick="group_set_default(true)">设为默认</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip'"
                   onclick="group_set_default(false)">去掉默认</a>
            </div>
        </div>
        <div data-options="region:'east',border:true,title:'非组内视图'" style="width:400px;padding:0px; overflow:auto;">
            <table id="GroupViewAddList" data-options="border:false,fit:true,fitColumns:true"></table>
            <div id="GroupViewAddToolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'"
                   onclick="group_add_view()">加入该组</a>
            </div>
        </div>

        <input type="hidden" id="hidGroupID" value="@System.Guid.Empty" />
    </div>
</body>
</html>