@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nav</title>
</head>
<body>
    <div>
        @Html.ActionLink("TaskScheduler", "SchedulerTask")
        <br/>
        @Html.ActionLink("SystemInit", "SystemInit")

    </div>
</body>
</html>
