@{
    Layout = null;
}
<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../FES/content/css/bootstrap.min.css" />
    <script data-main="/Protal/HomePage/Index_Mobile_Nav.js" src="../../FES/third_parts/require.js"></script>
</head>

<body>
</body>

</html>