@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <link href="~/Protal/HomePage/Index.css" rel="stylesheet" />
        <link href="~/FES/content/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div style="width:100%" id="mp"></div>
        <script data-main="/Protal/HomePage/Index_Nav.js" src="../../FES/third_parts/require.js"></script>
    </body>
</html>